.cleaner{ clear:both;}

body {
	margin: 0 0;
	font-family:Arial, Helvetica, sans-serif;
}

div.contenedor {
	height:auto;
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0px 0px;
	overflow: hidden;
	position: relative
}

/*--------- CABEZAL --------*/


h1{
	width:90%;
	font-family:  'TheSans', sans-serif;
	font-size: 20px;
	color:#000;
	margin:20px 10px 0;
	float:left;
	font-weight: bold;
}


h2, h3{
	width:90%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	margin:10px 10px;
	float:left;
	font-weight:100;
	margin-bottom: 10px;
}


/*--------- CONTENIDOS --------*/

div.contenedor div.contenidos{
	width:100%;
	height:auto;
	margin-bottom:50px;
	position:relative;
	overflow: hidden;
	margin-top: 130px;
}

div.contenedor div.contenidos div.slider-container{
	width:100%;
	height:250px;
	position:relative;
	overflow: hidden;
	margin-top: 10px;
}

div.contenedor div.contenidos div.slider-container div.menos {
	width:17px;
	height:192px;
	cursor:pointer;
	background:#14a1d7; color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center; line-height:11;
	border:1px solid #ccc;
	position:absolute; top:0px; left:0px;
	background-image: url('../img/arrows-slider.png');
	background-position: right center;
	background-repeat: no-repeat;
}

div.contenedor div.contenidos div.slider-container div.menos:hover{
	opacity:1
}

div.contenedor div.contenidos div.slider-container div.mas{
	height:234px;
	cursor:pointer;
	background:#14a1d7; color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center; line-height:11; border:1px solid #ccc;
	position:absolute; top:0px; right:0px;
	background-image: url('../img/arrows-slider.png');
	background-position: left center;
	background-repeat: no-repeat;
}

div.contenedor div.contenidos div.slider-container div.mas:hover{
	opacity:1
}

div.contenedor div.contenidos div.slider-container div.candidatos{
	width:600px;
	height:290px;
	position:absolute;
	top:0px;
	overflow: hidden;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide {
	height:234px;
	position:absolute;
	top:0px;
	left:0px;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.ficha{
	width:62px;
	height:62px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	border:1px solid #ddd;
	cursor: pointer;
	position: relative;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.ficha img{
	position:absolute;
	left:30px;
	width:62px;

}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.ficha div.selection{
	width:100%;
	height:115px;
	position: absolute;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.ficha div.check{
	width:13px;
	height:13px;
	position: absolute;
	bottom:2px;
	right:2px;
	display: block;
	border: 1px solid white;
	background-color: black;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.check {
	background-image: url('../img/tilde.png');
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.color-blue {
	background-color: #0071BC !important;
	border-top-color: #0071BC !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.color-green {
	background-color: #7AC943 !important;
	border-top-color: #7AC943 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.color-purple {
	background-color: #662D91 !important;
	border-top-color: #662D91 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.color-orange {
	background-color: #F7931E !important;
	border-top-color: #F7931E !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.selected div.selection {
	width:100%;
	height:115px;
	/*border-top:8px solid;*/
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.disabled div.selection {

}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-red {
	border-color: #B30000 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-purple {
	border-color: #842182 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-green {
	border-color: #469E16 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-orange {
	border-color: #D26C09 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-yellow {
	border-color: #FFCC00 !important;
}

div.contenedor div.contenidos div.slider-container div.candidatos div.slide div.border-color-blue {
	border-color: #0071BC !important;
}

/*--------- SELECTED --------*/

div.contenedor div.contenidos div.selection-container {
	width:100%;
	height:85px;
	margin-top: 10px;
	display:none;

}

div.contenedor div.contenidos div.selection-container h3 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin: 5px 10px;
	float: left;
	font-weight: 100;
}

div.contenedor div.contenidos div.selection-container div.selected-candidatos {
	width:auto;
	float: left;
	height:200px;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected {
	width:150px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	cursor: pointer;
	text-align: center;
	margin: 10px 20px;
}

div.contenedor div.contenidos div.selection-container img {
	width:100px;
	height:100px;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .remove{
	width:100px;
	height:100px;
	position: relative;
	background-color: blue;
	border-width: 5px;
	border-style: solid;
	margin: 0 auto;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .crux{
	width:15px;
	height:15px;
	position: absolute;
	right: 0px;
	display: block;
	background-image: url('../img/cruces.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .crux-blue {
	background-position: 0 -45;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .crux-green {
	background-position: 0 -60;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .crux-purple {
	background-position: 0 -15;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected .crux-orange {
	background-position: 0 -30;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected:hover .remove {
	opacity: 0.6;
}

div.contenedor div.contenidos div.selection-container div.ficha-selected p{
	margin-top: 10px;
}

/* ------------------- */
div.contenedor div.contenidos div#slider-control{
	width:100% !important;
	height:17px;
	background-color: #32A9D3;
	border: 1px solid #32A9D3;
	text-align: center;
	width: 10%;
	color: white;
	text-transform: uppercase;
	padding-top: 3px;
	text-decoration: none;
	font-size: 11px;
	display: block;
	cursor: pointer;
}

div.contenedor div.contenidos div#slider-control span#slider-control-label{
	display: inline-block;
}

div.contenedor div.contenidos div#slider-control span.slider-control-text{
	float: left;
	font-family:  'TheSans', sans-serif;
	font-size:14px;
	font-weight: bold;
}

div.contenedor div.contenidos div#slider-control span.text-mostrar{
	display: none;
	height:17px;
}

div.contenedor div.contenidos div#slider-control span.text-ocultar{
	display: inline-block;
	height:17px;
}

div.contenedor div.contenidos div#slider-control.mostrar span.text-mostrar{
	display: inline-block;
}

div.contenedor div.contenidos div#slider-control.mostrar span.text-ocultar{
	display: none;
}

div.contenedor div.contenidos div#slider-control span.slider-control-arrow{
	height:17px;
	background-image: url('../img/arrows-slider-v.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	display: inline-block;
	width: 30px;
	float: left;
}

div.contenedor div.contenidos div#slider-control.mostrar span.slider-control-arrow{
	background-position: center -2px;
}

/*--------- SELECT --------*/

div.contenedor div.contenidos div.select-container {
	margin: 5px 0px 30px 0px;
	float: left;
	width: 75%;
}

div.contenedor div.contenidos div.select-container #select-politicos {
	width: 100%;
}

div.contenedor div.contenidos div.select-container .select2-container {
	width: 100%;
}

div.contenedor div.contenidos div.selection-container .action-btn {
	margin: 5px 0px 30px 0px;
	background-color: #14A1D7;
	border: 1px solid #DDD;
	text-align: center;
	width: 12%;
	float: right;
	color: white;
	text-transform: uppercase;
	padding-top: 11px;
	text-decoration: none;
	font-family:  'TheSans', sans-serif;
	font-size:14px;
	font-weight: bold;
	height: 23px;
}

div.contenedor div.contenidos div.selection-container #ver-recorrido{
	margin-right: 10px;
}

div.contenedor div.contenidos div.selection-container .action-btn#limpiar {
	width: 8%;
}

div.contenedor div.contenidos div.selection-container #limpiar.disabled,
div.contenedor div.contenidos div.selection-container #ver-recorrido.disabled {
	background-color: #ccc;
	opacity: 0.5;
	cursor: default;
}

div.contenedor div.contenidos div.select-container .select2-container .select2-search-choice {
	border:none;
	background: none;
	-webkit-box-shadow:none;
	box-shadow: none;
	margin-top: 5px;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference {
	margin-left: -19px;
	height: 9px;
	line-height: 16px;
	padding: 0px 0px 4px 18px;
}

div.contenedor div.contenidos div.select-container .select2-container .white-bg {
	background-color: white;
	font-size: 12px;
	padding: 5px 8px 1px 3px;
}

.select2-results .select2-result-label {
	font-size: 12px;
}

.select2-results .select2-highlighted {
	background-color: #32A9D3 !important;
}

.select2-search-field input {
	color: #000 !important;
	font-size: 12px !important;
	margin: 5px 0 !important;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
	color: #000 !important;
	font-size: 12px !important;
}

.select2-search-choice-close {
}

.qtip-recorrido {
	color:#FFF;
	width: 150px;
}

.qtip-recorrido .video-tooltip img,
.qtip-recorrido .foto-tooltip img{
	width: 100%;
}

.qtip-recorrido .nombre-tooltip {
	font-family:  'TheSans', sans-serif;
	font-size:12px;
	font-weight: bold;
}

.qtip-recorrido .partido-tooltip {
	font-family:  'TheSansSemi', sans-serif;
	font-size:11px;
	font-weight: bold;
	margin-top: 5px;
}

.qtip-recorrido .desc-tooltip {
	margin-top: 5px;
}

.qtip-recorrido .link-tooltip {
	margin-top: 10px;
}

.qtip-recorrido .expand-tooltip {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	background-image: url('../img/exp.png');
}

.qtip-recorrido .modal-tooltip {
	position: relative;
	width: 134px;
	height: 90px;
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
}

.qtip-recorrido .video-tooltip .expand-tooltip {
	background-position: center bottom;
	top: 34px;
	left: 57px;
}

.qtip-recorrido .foto-tooltip .expand-tooltip {
	background-position: center top;
	bottom: 1px;
	right: 5px;
}

.qtip-recorrido .link-tooltip a {
	color: #FFF;
	font-family:  'TheSans', sans-serif;
	font-size:11px;
	font-weight: bolder;
	color: #FFF !important;
	background-color: #000;
	padding: 4px 6px;
	border-radius: 3px;
}

.qtip-recorrido .qtip-content {
	padding: 8px 8px;
}

.qtip-candidato{
	background-color: #000;
	border-color: #FFF;
	color: #FFF;
}

.qtip-partido {
	background-color: #000001;
	border-color: #000001;
	color: #FFFFFF;
}

.qtip-recorrido .qtip-titlebar,
.qtip-partido .qtip-titlebar,
.qtip-candidato .qtip-titlebar{
	background-color: #000 !important;
	font-family:  'TheSans', sans-serif;
	font-size:12px;
	font-weight: bold;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-blue,
.qtip-blue {
	background-color: #0071BC;
	border-color: #0071BC;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-purple,
.qtip-purple {
	background-color: #662D91;
	border-color: #662D91;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-green,
.qtip-green {
	background-color: #7AC943;
	border-color: #7AC943;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-orange,
.qtip-orange {
	background-color: #F7931E;
	border-color: #F7931E;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-orange,
.qtip-yellow {
	background-color: #FFCC00;
	border-color: #FFCC00;

}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-orange,
.qtip-red {
	background-color: #B30000;
	border-color: #B30000;
}

div.contenedor div.contenidos div.select-container .select2-container .selected-reference-orange,
.qtip-orange .link-tooltip a {
	color: #FFF !important;
	background-color: #000;
	padding: 4px 6px;
}

/*--------- GRAPH --------*/
div.contenedor div.contenidos div#timeline-candidatos {
	border: 1px solid #CCC;
}

.grid path,
.grid line,
.axis path,
.axis line,
.axis2 path,
.axis2 line {
  fill: none;
  stroke: #DDD;
  shape-rendering: crispEdges;
}

.x .tick line,
.y .tick line {
	stroke:#222;
	stroke-width:3px;
}

rect.hover-partido {
	fill: transparent;
	cursor: pointer;
}

rect.guia-partido {
	fill: #F5F5F5;
}

rect.guia-partido-items {
	fill: #fff;
}

circle.participacion {
	stroke-width:2px;
	cursor: pointer;
}


circle.participacion-red {
	stroke: #B30000;
	fill: #B30000;
}

circle.participacion-purple {
	stroke: #842182;
	fill: #842182;
}

circle.participacion-green {
	stroke: #469E16;
	fill: #469E16;
}

circle.participacion-orange {
	stroke: #D26C09;
	fill: #D26C09;
}

circle.participacion-yellow {
	stroke: #FFCC00;
	fill: #FFCC00;
}

circle.participacion-blue {
	stroke: #0071BC;
	fill: #0071BC;
}

circle.participacion-inactivo {
	fill: #D1D1D1;
}

circle.participacion-media{

}

circle.participacion:hover {
	fill:#000;
	stroke:#000;
}

path.line-red {
	stroke: #B30000;
}

path.line-purple {
	stroke: #842182;
}

path.line-green {
	stroke: #469E16;
}

path.line-orange {
	stroke: #D26C09;
}

path.line-yellow {
	stroke: #FFCC00;
}

path.line-blue {
	stroke: #0071BC;
}

.y .tick text {
	font-weight: normal;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	display: none;
}

.x .tick text {
	font-weight: bold;
	font-family: TheSans,Arial,Helvetica,sans-serif;
	font-size:12px;
}

.x2 {color:#32A9D3;}

.y path {
	stroke:none;
}

/* SHARE */
div.contenedor .share-links {
	text-align: right;
	margin: 5px 0px;
	height: 25px;
	float: right;
	width: 255px;
}

div.contenedor .share-links .share-text {
	text-align: right;
	display: inline;
	font-family: Arial;
	font-size: 12px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

div.contenedor .share-links .minishare {
	width: 21px;
	height: 21px;
	display: inline-block;
	text-decoration: none;
	background: url("../img/share.png") no-repeat scroll transparent;
	float: right;
	margin-left: 5px;
}

div.contenedor .share-links .minishare-tw {
	background-position: -28px -5px;
}

div.contenedor .share-links .minishare-fb {
	background-position: -5px -5px;
}

div.contenedor .share-links .minishare-gp {
	background-position: -51px -5px;
}

div.contenedor .share-links .minishare-mail {
	background-position: -74px -5px;
}

/* REFERENCES */
div.contenedor .reference-block {
	margin: 19px 0px;
	text-align: right;
	display: none;
}

div.contenedor .reference-block p{
	display: inline;
	background: url("../img/refs.png") no-repeat scroll transparent;
	padding-left: 19px;
	margin-left: 5px;
	font-family: Arial;
	font-size: 12px;
}

div.contenedor .reference-text {
	float: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	background-color: #EAF9FF;
	padding: 9px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #dadada
}

div.contenedor p.reference-black {
	background-position: 0px -3px;
}

div.contenedor p.reference-white {
	background-position: 0px -23px;
}

.label-reference {
	font-family:  'TheSans', sans-serif;
	font-size: 13px;
}

/* CREDITOS */

#creditos-btn {
	margin: 1px 5px;
	background-color: #AAAAAA;
	border: 1px solid #DDD;
	text-align: center;
	float: left;
	color: white;
	text-transform: uppercase;
	padding: 6px 10px;
	text-decoration: none;
	font-family: 'TheSans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-radius:3px;
}

#creditos-text {
	width: 94%;
	background-color: #FFFFFF;
	padding: 10px 20px;
}

#creditos-text p.title {
	border-bottom: 1px solid #DDDDDD;
	color: #14A1D7;
	padding: 10px 0px;
	font-size: 13px
}

#creditos-text p.task {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin-top: 20px;
}

#creditos-text p.person {
	font-size: 15px;
	color: #444444;
	text-align: center;
	margin-top: 5px;
}

#creditos-text p.person a{
	font-size: 12px;
}

#creditos-text #creditos-close {
	height: 12px;
	width: 13px;
	display: block;
	float: right;
	cursor: pointer;
	background: url('select2.png');
	background-position: 15px 36px;
}

a#descargar,
a#codigo-fuente {
	background: url('../img/descarga.png') 5px -2px no-repeat;
	padding: 10px 10px 7px 28px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	border: 1px solid #FFF;
	font-size: 11px;
	float: left;
	border-radius:3px;
}

a#codigo-fuente {
	background: url('../img/github.png') 5px 7px no-repeat;
}

a#descargar:hover,
a#codigo-fuente:hover{
	border-color: #DDD;
}

@media only screen and (max-width: 600px) {
	.x.axis .tick text {
      transform: translate(-18px, -34px) rotate(270deg);
      font-size: 8px;
		text-anchor: end !important;
   }
	.x.axis2 .tick text {
      transform: translate(9px, 2px) rotate(270deg);
      font-size: 8px;
		text-anchor: end !important;
   }
	.x .tick line, .y .tick line {
		display: none;
	}
	.reference-container image {
		display: none;
	}
	.reference-container text {
		font-size: 9px;
		transform: translate(0px, 18px);
	}
}

.x.axis path.domain, .x.axis2 path.domain {
	display: none;
}

@media only screen and (max-width: 767px) {
	div.contenedor div.contenidos{
		margin-top: 100px;
	}
}
